@model IList<AirBench.Models.Bench>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>Bench No.</th>
        <th>Rating</th>
        <th>Description</th>
        <th>Poster</th>
    </tr>
    
    <tbody>
        @foreach (var bench in Model)
        {
            <tr>
                <td>@bench.Id</td>
                <td>@bench.Rating</td>
                <td>@bench.Description</td>
                <td>@bench.Poster.UserName</td>
            </tr>
        }
    </tbody>
</table>

